{% extends 'base.html.twig' %}

{% block title %}Home - MyApp
{% endblock %}

{% block body %}
	<main class="container mt-4">
		<h1 class="display-4">Welcome to MyApp</h1>
		<p class="lead">This is a simple example of using Symfony with Bootstrap and Webpack.</p>
	</main>
{% endblock %}
