// Importer Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles personnalisés
body {
    background-color: #f8f9fa;
}

.custom-button {
    background-color: $primary;
    border: none;
    color: white;
    &:hover {
        background-color: darken($primary, 10%);
    }
}
